@font-face {
    font-family: MachineGunk;
    src: url("Assets/Fonts/MachineGunk.otf");
}

@media screen and (max-width: 60em) {}

/*iPAD SUPPORT=====================================--*/
@media (max-width: 56.250em) {}

/*NEXUS SUPPORT=====================================--*/
@media (max-width: 44.063em) {}

/*iPhone SUPPORT=====================================--*/
@media screen and (max-width: 22.500em) {}

html, body {
    font-family: MachineGunk;
    background-color: black;
    height: 100vh;
    width: 100vw;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    margin: 0;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* A semi-transparent black background */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's on top of everything */
}

#game-container {
    /*background-color: pink;*/
    background-image: url("Assets/Images/UI/png/BG.png");
    padding: 0;
    /*
    height: 100vmin;
    width: 100vmin;
    */
}

.shop-image {
    width:100%;
}


#minigame-container .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
}

#shop-container .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
}

#inv-container .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
}

#minigame-close {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#minigame-title {
    height: 10%;
    text-align: center;
}

#minigame-list2 {
    height: 30%
}

#minigame-list3 {
    height: 30%
}

#minigame-list4 {
    height: 30%
}

.minigame {
    border: solid white 3px;
}

#header-container {
    background-color: hotpink;
    height: 10%;
    font-size: 4vmin;
    padding: 0;
    /*
    position: absolute;*/
}

#model-container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-container {
    background-color: hotpink;
    height: 10%;
}

#model {
    cursor: pointer;
    /*
    width: 50%;
    */
}

.button-shop {
    background: url("Assets/Images/UI/png/shop_red.png") no-repeat;
    background-size: contain;
    background-position: center;
    height:100%;
    width:100%
}

.button-list {
    background: url("Assets/Images/UI/png/list_red.png") no-repeat;
    background-size: contain;
    background-position: center;
    height:100%;
    width:100%
}

.button-setting {
    background: url("Assets/Images/UI/png/setting_red.png") no-repeat;
    background-size: contain;
    background-position: center;
    height:100%;
    width:100%
}

.button-nav {
    background: url("Assets/Images/UI/png/nav_red.png") no-repeat;
    background-size: contain;
    background-position: center;
    height:100%;
    width:100%
}


.button-game {
    background: url("Assets/Images/UI/png/game_red.png") no-repeat;
    background-size: contain;
    background-position: center;
    height:100%;
    width:100%
}